<div class="footer">
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/guillaume-trupin-50632225/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This app is made with <i class="fa fa-heart"></i> by Guillaume Trupin
  </div>
</div>
