<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 30%), url('https://i.ytimg.com/vi/JpWB8566U_w/maxresdefault.jpg');">
  <div class="banner-content">
    <h1>ScoreUs</h1>
    <p>Be cool, you're the best</p>
    <a class="btn btn-primary btn-lg">Start</a>
  </div>
</div>



